.micssejemplo{
    background-color: #27E51A !important;

}
.modal{
    padding: 0 !important;
   }
   .modal-dialog {
     max-width: 60%;
     height: 100%;
     padding: 0px;
     margin: 20px;
     margin-left: 25%;
   }
   
   .modal-content {
     border-radius: 0 !important;
     height: auto;
   }

   .principal{
      transition: all linear 0.5s;
      position: relative;
    
   }

   .ng-hide {
    height: 0;
    width: 0;
    background-color: transparent;
    top:-200px;
    left: 200px;
  }